@font-face {
    font-family: "Jetbrains Mono";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-Regular.ttf') format("truetype");
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-Regular.woff2') format("woff2");
}

@font-face {
    font-family: "Jetbrains Mono";
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-Italic.ttf') format("truetype");
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-Italic.woff2') format("woff2");
}

@font-face {
    font-family: "Jetbrains Mono";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-SemiBold.ttf') format("truetype");
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-SemiBold.woff2') format("woff2");
}
  

@font-face {
    font-family: "Jetbrains Mono";
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-SemiBoldItalic.ttf') format("truetype");
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-SemiBoldItalic.woff2') format("woff2");
}
  
@font-face {
    font-family: "Jetbrains Mono";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-Bold.ttf') format("truetype");
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-Bold.woff2') format("woff2");
}
  

@font-face {
    font-family: "Jetbrains Mono";
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-BoldItalic.ttf') format("truetype");
    src: url('/fonts/Jetbrains_Mono/JetBrainsMono-BoldItalic.woff2') format("woff2");
}