$foreground: #222222;
$background: #eeeeee;
$secondary: gray;
$tertiary: #dddddd;
$accent: #222222;
$after: #FF266C;
$url-background: #bbbbbb;

$foreground-dark: #eeeeee;
$background-dark: #161616;
$secondary-dark: #999999;
$tertiary-dark: #444444;
$accent-dark: #eeeeee;
$after-dark: #00bcf2;
$url-background-dark: #3b3a39;

@mixin light-theme {
    color: $foreground;
    background-color: $background;

    .secondary, .post-meta {
        color: $secondary;
    }

    a, a:link, a:visited {
        color: $accent;
    }

    a {
      &:after {
        color: $after;
      }
      &:hover {
        background: $url-background;
      }
    }

    a:hover {
        color: darken($accent, 30%);
    }

    .language-option:hover {
        &:after {
            color: $after;
        }
        background: $url-background;
        color: darken($accent, 30%);
    }

    blockquote {
        border-left: 2px solid $secondary;
    }

    code {
        background-color: $tertiary;
    }

    .collapsible {
        background-color: $tertiary;
    }

    pre code {
        background-color: transparent;
    }

    .footnote-definition sup {
        color: $secondary;
    }
}

@mixin dark-theme {
    color: $foreground-dark;
    background-color: $background-dark;

    .secondary, .post-meta {
        color: $secondary-dark;
    }

    a, a:link, a:visited {
        color: $accent-dark;
    }

    a {
      &:after {
        color: $after-dark;
      }
      &:hover {
        background: $url-background-dark;
      }
    }

    a:hover {
        color: lighten($accent-dark, 10%);
    }

    .language-option:hover {
        &:after {
            color: $after-dark;
        }
        background: $url-background-dark;
        color: lighten($accent-dark, 10%);
    }

    blockquote {
        border-left: 2px solid $secondary-dark;
    }

    code {
        background-color: $tertiary-dark;
    }

    .collapsible {
        background-color: $tertiary-dark;
    }

    pre code {
        background-color: transparent;
    }

    .footnote-definition sup {
        color: $secondary-dark;
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-theme;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-theme;
    }
}

.dark-mode-buttons {
    position: absolute;
    display: inline-block;

    top: 1em;
    right: 1em;
}

.dark-mode-button {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.language-switch-buttons {
    position: absolute;

    top: 1em;
    right: 3em;
}

.language-switch-button {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.language-dropdown {
    position: absolute;
    top: 10px;
    right: 0;
    display: none;
}

.language-option {
    &:hover {
        cursor: pointer;
    }
    list-style-type: none;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;

    &:after {
        content: "°";
    }
}

.language-switch-buttons:hover .language-dropdown {
    display: block;
}

body:not(.dark-mode) {
    @include light-theme;

    #dark-mode-on {
        display: inline;
    }

    #dark-mode-off {
        display: none;
    }

    #language-switch-dark-on {
        display: inline;
    }

    #language-switch-dark-off {
        display: none;
    }
}

body.dark-mode {
    @include dark-theme;

    #dark-mode-on {
        display: none;
    }

    #dark-mode-off {
        display: inline;
    }

    #language-switch-dark-on {
        display: none;
    }

    #language-switch-dark-off {
        display: inline;
    }
}
